body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #3d3d3d;
}
.legend {
    max-width: 260px;
    background: white;
    padding: 12px 24px;
}
.legend span {
    width: 36px;
    height: 20px;
    display: inline-block;
    margin-right: 12px;
}
.legend div {
    font-size: 1.6em;
}